**.pyc
**.swo
**.swp
.idea/
.AppleDouble/
.coverage
.pybuild/
.ropeproject/
.vscode/
.scannerwork
VERSION
build/
dist/
process_snapshot_toolkit.egg-info/
conf.ini
config.ini
coverage.xml
log/
report/
venv
.jython_cache
.tox
.gitconfig
